.nav-wrapper{
    background-color: #EE5252;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-branding{
    font-family: monofett;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    font-size: 3em;
}