*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: montserrat;
  src: url('assets/fonts/Montserrat-Black.ttf');
}
@font-face{
  font-family: monofett;
  src: url('assets/fonts/Monofett-Regular.ttf');
}
body {
  margin: 0;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body-wrapper{
  display: flex;
  min-height: calc(92vh);
}
.react-calendar {
  position: absolute;
  left: 10%;
  width: 250px !important;
  line-height: 0.2em !important;
}
.react-calendar__navigation {
  height: 15px !important;
  margin-bottom: 0.5em !important;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}